#header {
    Background:black;
    width:100vw;
    height:100px;
    margin:0px;
    padding:0px;
    left:0px;
    top:0px;
    border:0px;
    align-content:center;
    justify-content:center;
    color:white;
    position:absolute;
    display:flex;
    Font-size:20px;
    
}

.body {
    background:gray;
    font-family:"Times New Roman";
    overflow-x: hidden;
    color:black;
    
}

.bodyp {
    color:black;
    position:absolute;
    margin-right:auto;
    top:110px;
    z-index: 9999;
    font-size:20px;
    height:10px;
    width: 98vw;
}

.grid {
    position:absolute;
    top:190px;
    display:grid;
    width: 98vw;
    color:black;
    height:500px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    
    
}

#grid1 {
    background:rgb(200,200,200);
    text-align:center;
    align-content:center;
    color:black;
    font-size:50px;
    text-decoration: none;
    
    
}

#grid2 {
    background:rgb(150,150,150);
    text-align:center;
    align-content:center;
    color:black;
    font-size:50px;
    text-decoration: none;
}

#grid3 {
    Background: rgb(100,100,100);
    text-align:center;
    align-content:center;
    font-size:50px;
    color:black;
    text-decoration: none;
}

#grid4 {
    background:rgb(50,50,50);
    text-align:center;
    align-content:center;
    font-size:50px;
    color:black;
    text-decoration: none;
}

#me {
    position:absolute;
    top:105px;

}

#meg {
    top:210px;
}